<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camila Maciel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <script src="https://kit.fontawesome.com/51a4bb08ed.js" crossorigin="anonymous"></script>
</head>