<nav>
    <div class="title">
        <h1>Camila Maciel</h1>
        <P>Assessoria Administrativa Remota</P>
    </div>
    <div class="options">
        <a href="/home">HOME</a>
        <a href="/sobremim">SOBRE MIM</a>
        <a href="/solucoes">SOLUÇÕES</a>
        <div class="contact" style="display: flex; align-items: center; cursor: pointer;">
            <p>CONTATO</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 31 32" fill="none">
                <path d="M10.3334 14.0625L14.9781 18.9994C15.2664 19.3058 15.7337 19.3058 16.022 18.9994L20.6667 14.0625" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            <div class="dropdown">
                <a class="option" href="https://api.whatsapp.com/send?phone=5521994069031" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>WHATSAPP</p>
                </a>
                <a class="option" href="https://www.instagram.com/camila.assistente.virtual/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <p>INSTAGRAM</p>
                </a>
            </div>
        </div>
        <i class="fa-solid fa-x"></i>
    </div>
    <i class="bars fa-solid fa-bars" style="font-size: 2rem;"></i>
</nav>