<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>
    <section>
        <div class="text">
            <h1 style="font-size: 2rem">Prazer, sou Camila Maciel!</h1>
            <p style="font-size: 1rem">Tenho 33 anos, sou moradora do Rio de janeiro. Ouvir música e ir à praia são os meus refúgios. Adoro estudar, me desafiar e ver minha evolução. Na busca inconstante de conciliar a maternidade, liberdade geográfica e a minha carreira, encontrei a assistência virtual. Fui mãe muito nova do Felipe, hoje com 17 anos, um pouco depois tive o Pietro, com 13 anos. Eles são a minha motivação e me impulsionam a ser a minha melhor versão a cada dia.</p>
        </div>
        <div class="image">
            <img src="img/mae.png" alt="">
        </div>
    </section>
    <section class="bg-white">
        <div class="image">
            <img src="img/computador.png" alt="">
        </div>
        <div class="text">
            <h1 style="font-size: 2rem">Foco Profissional</h1>
            <p style="font-size: 1rem">Me considero uma profissional em constante evolução. Sempre me destaquei pela minha proatividade, comprometimento, organização e sede em aprendizado.
                Apesar de não ter concluído a faculdade de ciências contábeis, estou sempre buscando novos aprendizados, apostando em mentorias e especializações.
                Desde 2008 colecionando experiências em atendimento ao público executivo e rotinas administrativas, decidi que poderia empreender e ajudar diversos profissionais, de forma remota, sendo uma parceira, e contribuindo para a expansão de diversos negócios.</p>
        </div>
    </section>
    <%- include('partials/script.ejs') %>
</body>
</html>