<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div style="padding: 2rem; text-align: center;">
        <h1>Opa! Parece que esta página não existe.</h1>
        <p>Verifique se o URL está correto.</p>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>