<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')%>
<body>
    <%- include ('partials/navbar.ejs') %> 
   <section class="home-main">
    <div class="image">
            <img src="" alt="foto da camila">
        </div>
        <div class="text">
            <h1 style="font-size: 2rem;">Assessoria Administrativa Remota</h1>
            <p style="font-size: 1rem">Administrar um negócio pode ser desafiador, e é por isso que estou aqui para simplificar sua jornada. Ofereço suporte administrativo remoto personalizado para que você possa focar no crescimento e no sucesso do seu negócio!
                Acredito que a minha assessoria, não apenas economiza tempo e recursos, mas também impulsiona a eficiência, capacitando seu negócio a atingir novos patamares e, juntos, construirmos o caminho para um negócio mais eficiente e rentável.</p>
        </div>
   </section>
   <%- include('partials/script.ejs') %>
</body>
</html>