<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>
    <div class="card-section">
        <h1>Como posso te ajudar?</h1>
        <div class="cards">
            <div class="card card1">
                <img src="img/comment.svg" alt="ícone">
                <div class="text">
                    <div>
                        <h1>Atendimento/</h1>
                        <h1>Suporte</h1>
                    </div>
                <ul>
                    <li>Suporte de atendimento via whatsapp</li>
                    <li>Gestão de Agenda</li>
                    <li>Gestão de e-mail</li>
                    <li>Rotinas administrativas</li>
                </ul>
                </div>
            </div>
            <div class="card card2">
                <img src="img/balance.svg" alt="ícone">
                <div class="text">
                    <h1>Financeiro básico</h1>
                <ul>
                    <li>Fluxo de caixa (Contas a pagar e a receber)</li>
                    <li>Emissão de NF</li>
                    <li>Emissão de boletos</li>
                    <li>Apoio ao departamento pessoal</li>
                </ul>
                </div>
            </div>
            <div class="card card3">
                <img src="img/lion.svg" alt="ícone">
                <div class="text">
                    <h1>Imposto de renda</h1>
                <ul>
                    <li>IRPF (Pessoa física)</li>
                    <li>Carnê Leão</li>
                    <li>Processos administrativos</li>
                    <li>Especialista em MEI</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-section bg-white">
        <h1>Missão, visão e valores</h1>
        <div class="cards">
            <div class="card card1">
                <img src="img/target.svg" alt="ícone">
                <div class="text">
                    <div>
                        <h1>Missão</h1>
                    </div>
                    <p>Facilitar o sucesso e o crescimento sustentável dos meus clientes por meio de soluções administrativas inovadoras e personalizadas de forma confiável otimizando processos, reduzindo custos e melhorando a eficiência operacional.</p>
                </div>
            </div>
            <div class="card card2">
                <img src="img/eye.svg" alt="ícone">
                <div class="text">
                    <h1>Visão</h1>
                    <p>Ser reconhecida como a principal assessoria administrativa do mercado, proporcionando excelência em serviços e sendo referência em inovação e adaptação às mudanças no ambiente de negócios.</p>
                </div>
            </div>
            <div class="card card3">
                <img src="img/handshake.svg" alt="ícone">
                <div class="text">
                    <h1>Valores</h1>
                    <p>Me comprometo em entender as necessidades exclusivas de cada cliente, alocando recursos para soluções personalizadas, agindo com integridade, mantendo padrões elevados de transparência.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>